---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects 2024</div>
  </div>

  <HorizontalCard
    title="LLODE"
    img="/llode.png"
    desc="A full-stack app created using the OpenAI API and Vue."
    url="https://www.llode.com/prompts"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Germ Science Investigation"
    img="/gsi-1.png"
    desc="A web based trivia game launched in Canada and the US"
    url="https://gsi.learnbyloci.com"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects 2022</div>
  </div>
  
  <HorizontalCard
    title="10th World Servers"
    img="/tenth.png"
    desc="A marketing site made for a SaaS product that connects people to servers that can run Valheim."
    url="https://victorious-forest-0f1514b10.azurestaticapps.net/"
    badge=""
  />
</BaseLayout>
