---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify"></div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer I"
      subtitle="From May 2022 to June 2024  at PriceSpider, Irvine, CA, USA"
    >
      Developed applications to enhance the efficiency of various company
      processes, leading to significant operational improvements. Collaborated
      closely with different departments to identify and address process
      bottlenecks, ensuring the delivery of user-friendly and effective tools.
      Decreased the loading time of various queries that process millions of
      rows of data from minutes to seconds.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer II"
      subtitle="From June 2024 to Present at PriceSpider, Irvine, CA, USA"
    >
      Matching Team Built and maintained microservices for PriceSpider’s
      matching system utilizing Golang, JavaScript, and Python. Developed a new
      machine learning flow that increased product identification accuracy and
      added flexibility to the pipeline for identifying products on the web.
      Increased automated matchmaking by 25% which had a significant impact on
      the value client's recieve from our services.
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Developer"
      subtitle="From May 2021 to May 2022 at LOCI, Los Angeles, CA, USA"
    >
      Contributed to the development of LOCI’s SaaS products. Worked on the game
      engine core, administrative website, and core SaaS product, enhancing
      functionality and user experience. Utilized serverless backend
      technologies to integrate live data into feature-rich front-ends, ensuring
      real-time updates and interactivity.
    </TimeLineElement>
    <TimeLineElement
      title="Web Developer"
      subtitle="From April 2021 to May 2021 at Jensen Partners, Los Angeles, CA, USA"
    >
      Conducted thorough reviews of the existing codebase,
      identifying and resolving issues to improve site performance. Improved the
      website’s SEO, resulting in increased visibility and higher search engine
      rankings. Addressed and corrected security vulnerabilities, ensuring a
      secure and reliable web presence.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Javascript</li>
    <li>Typescript</li>
    <li>React</li>
    <li>Vue</li>
    <li>Golang</li>
    <li>Python</li>
    <li>Microservices</li>
    <li>Machine Learning</li>
    <li>LLM</li>
    <li>MSSQL</li>
    <li>Postgres</li>
    <li>RabbitMQ</li>
    <li>Kafka</li>
    <li>NodeJS</li>
    <li>Fastapi</li>
  </ul>
</BaseLayout>
